#header{
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

#header .title{
    font-size: 22px;
    font-weight: bold;
}

#header-menu{
    display: flex;
}

#header-menu li{
    margin: 0 5px;
    cursor: pointer;
}

#add-friend-form{
    text-align: center;
}

#add-friend-form >*{
    margin: 0 3px;
}